.main {
    margin-top: 200px;
}
.header {
    text-align: center;
}
h5 {
    font-size: 30px;
}
.table th {
    text-align: center;
}
.table td {
    text-align: center;
}
.create {
    margin: 30px 100px;
}
.fluid {
    width: 100%;
}
.field {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
input {
    width: 65%;
}
.pi-pencil {
    font-size: 1rem;
    color: rgb(214, 214, 67);
    cursor: pointer;
    margin: 20px;
}
.pi-trash {
    font-size: 1rem;
    color: red;
    cursor: pointer;
}
