<div class="main">
  <p-toast key="success" position="top-right"></p-toast>
  <p-toast key="error"></p-toast>
  <div class="header">
    <h5>Quản lí sản phẩm</h5>
  </div>
  <div class="body">
    <div class="create">
      <button pButton type="button" routerLink="/form" style="cursor: pointer" label="Thêm sản phẩm"
        class="p-button-success"></button>
    </div>
    <div class="table">
      <p-table [value]="listProduct">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let item of cols" pSortableColumn="{{item.header}}">
              {{item.header}}<p-sortIcon field="{{item.header}}">
              </p-sortIcon>
            </th>
            <th>Chức năng</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:' ':'symbol':'1.0-1'}} vnđ</td>
            <td>{{product.colors}}</td>
            <td>{{product.size}}</td>
            <td>
              <a routerLink="/form/{{product.id}}"> <i class="pi pi-pencil"
                  style="font-size: 1rem; color: rgb(214, 214, 67);cursor: pointer;margin: 20px;"></i>
              </a>
              <a>
                <i class="pi pi-trash" style="font-size: 1rem; color: red;cursor: pointer;"
                  (click)="showDialog(product.id)"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="Chú ý !!!" [(visible)]="displayDialog" [style]="{width: '30vw'}" [modal]="true">
        <p>Bạn có chắc chắn muốn xoá sản phẩm ?</p>
        <ng-template pTemplate="footer">
          <p-button (click)="displayDialog=false" label="Không" styleClass="p-button-text"></p-button>
          <p-button (click)="remove(idCurrent)" label="Có"></p-button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>