<div class="main">
  <p-toast key="success" position="top-right"></p-toast>
  <p-toast key="error"></p-toast>
  <div class="header">
    <h5>Quản lí sản phẩm</h5>
  </div>
  <div class="body">
    <div class="create">
      <button pButton type="button" routerLink="/form" style="cursor: pointer" label="Thêm sản phẩm"
        class="p-button-success"></button>
    </div>
    <div class="table">
      <p-table #productTable [value]="listProduct" [globalFilterFields]="['id','name','price']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(productTable)"></button>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="productTable.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Tìm kiếm" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let item of cols" pSortableColumn="{{item.header}}">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{item.header}}
                <p-columnFilter type="text" field="{{item.header}}" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>Chức năng</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency:' ':'symbol':'1.0-1'}} vnđ</td>
            <td> <span *ngFor="let item of product.colors">{{item.color+", "}}</span></td>
            <td><span *ngFor="let item of product.size ">{{item.size+', '}}</span></td>
            <td>
              <a routerLink="/form/{{product.id}}"> <i class="pi pi-pencil"></i>
              </a>
              <a>
                <i class="pi pi-trash" (click)="showDialog(product.id)"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="Chú ý !!!" [(visible)]="displayDialog" [style]="{width: '30vw'}" [modal]="true">
        <p>Bạn có chắc chắn muốn xoá sản phẩm ?</p>
        <ng-template pTemplate="footer">
          <p-button (click)="displayDialog=false" label="Không" styleClass="p-button-text"></p-button>
          <p-button (click)="remove(idCurrent)" label="Có"></p-button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>