<div class="main">
  <ul class="navbar">
    <li class="active" routerLink="/" >Trang Chủ</li>
    <li>Sản Phẩm</li>
    <li>Liên Hệ</li>
    <li>Phụ Kiện</li>
  </ul>
  <div class="logo">
    <h1>Huynh Phuc Shoppee</h1>
  </div>
  <div class="right-header">
    <span routerLink="/cart" class="material-icons">
      search
    </span>
    <div class="cart">
      <span routerLink="/cart" class="material-icons">
        shopping_cart
      </span>
      <ng-container *ngIf=" totalProduct!=0">
         <p class="total">{{totalProduct}}</p>
      </ng-container>
    </div>
   
    <span class="material-icons">
      person
    </span>
  </div>
</div>