<div class="main">
  <ul class="navbar">
    <li routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">{{'Home'| translate}}</li>
    <li>{{'Products'| translate}}</li>
    <li>{{'Contact US'| translate}}</li>
    <li>{{'Element'| translate}}</li>
    <li *ngIf="accCurrent[0]" routerLink="/admin" routerLinkActive="active">{{'Element'| translate}}</li>
  </ul>
  <div class="logo">
    <h1>Huynh Phuc Shopping</h1>
  </div>
  <div class="right-header">
    <div class="search">
      <input type="text" class="search-input" #inputsearch>
      <span class="material-icons search-button" (click)="SearchByName(inputsearch)">
        search
      </span>
    </div>

    <div class="cart">
      <span routerLink="/cart" class="material-icons">
        shopping_cart
      </span>
      <ng-container *ngIf=" totalProduct!=0">
        <p class="total">{{totalProduct}}</p>
      </ng-container>
    </div>

    <span *ngIf="!accCurrent[0]" routerLink="/login" class="material-icons">
      person
    </span>
    <p-avatar *ngIf="accCurrent[0]" label="P" styleClass="p-mr-2" shape="circle" class="avatar">
    </p-avatar>
    <div *ngIf="accCurrent[0]" class="logout">
      <a (click)="logOut()">Đăng xuất</a>
    </div>
    <div>
      <select (change)="changeLang($event)">
        <option value="en" [selected]="lang === 'en'">English</option>
        <option value="vi" [selected]="lang === 'vi'">Vietnamese</option>
      </select>
    </div>
  </div>
</div>