<div class="main">
  <div class="left">
    <h3>{{'HotLine'|translate}}</h3>
    <p>{{'OrderPhone'|translate}}: <strong>0763880318</strong></p>
    <p>{{'AnyQuestion'|translate}}: <strong>0763880318</strong></p>
    <p>{{'Complain'|translate}}: <strong>0763880318</strong></p>
  </div>
  <div class="mid">
    <h3>{{'About US'|translate}}</h3>
    <p>{{'Contact US'|translate}}</p>
    <p>{{'Hiring'|translate}}</p>
    <p>{{'News'|translate}}</p>
    <p>{{'SiteMap'|translate}}</p>
  </div>
  <div class="right">
    <h3>{{'Takecare'|translate}}</h3>
    <p>{{'Exchange'|translate}}</p>
    <p>{{'Maintain'|translate}}</p>
    <p>{{'Refunds'|translate}}</p>
  </div>
</div>