<div class="main">
  <div class="left">
    <h3>Tổng đài hỗ trợ</h3>
    <p>Liên hệ đặt hàng: <strong>0763880318</strong></p>
    <p>Thắc mắc đơn hàng: <strong>0763880318</strong></p>
    <p>Góp ý: <strong>0763880318</strong></p>
  </div>
  <div class="mid">
     <h3>Về cửa hàng</h3>
     <p>Giới thiệu</p>
     <p>Liên hệ</p>
     <p>Tuyển dụng</p>
     <p>Tin tức</p>
     <p>Hệ thống cửa hàng</p>
  </div>
  <div class="right">
    <h3>Chăm sóc khách hàng</h3>
    <p>Chính sách đổi trả</p>
    <p>Chính sách bảo hành</p>
    <p>Chính sách hoàn tiền</p>
  </div>
</div>
