<div class="main">
  <h3>{{'Best seller'| translate}}</h3>
  <div class="list-product">
    <div class="item" *ngFor="let product of listProduct">
      <app-product (addTocart)="addToCartById($event)" [product]="product"></app-product>
    </div>
  </div>

  <h3>{{'New Products'| translate}}</h3>
  <div class="list-product">
    <div class="item" *ngFor="let product of listProduct">
      <app-product (addTocart)="addToCartById($event)" [product]="product"></app-product>
    </div>
  </div>
  <div class="list-product">
    <div class="item" *ngFor="let product of listProduct">
      <app-product (addTocart)="addToCartById($event)" [product]="product"></app-product>
    </div>
  </div>
</div>