<div class="main">
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        work_outline
      </span>

    </div>
    <div class="info">
      <div class="name">
        Miễn phí giao hàng
      </div>
      <div class="desription">
        Miễn phí ship với đơn hàng 239k
      </div>
    </div>
  </div>
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        credit_score
      </span>
    </div>
    <div class="info">
      <div class="name">
        Thanh toán COD
      </div>
      <div class="desription">
        Thanh toán khi nhận được hàng
      </div>
    </div>
  </div>
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        request_quote
      </span>
    </div>
    <div class="info">
      <div class="name">
        Khách hàng VIP
      </div>
      <div class="desription">
        Ưu đãi dành cho khách hàng VIP
      </div>
    </div>
  </div>
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        sync_problem
      </span>

    </div>
    <div class="info">
      <div class="name">
        Hỗ trợ trả hàng
      </div>
      <div class="desription">
        Đổi , trả hàng ở tất cả các store
      </div>
    </div>
  </div>
</div>