<div class="main">
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        work_outline
      </span>

    </div>
    <div class="info">
      <div class="name">
        {{'FreeShip'| translate}}
      </div>
      <div class="desription">
        {{'FreeShipUnder'| translate}}
      </div>
    </div>
  </div>
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        credit_score
      </span>
    </div>
    <div class="info">
      <div class="name">
        {{'CODPay'| translate}}
      </div>
      <div class="desription">
        {{'CODPayBy'| translate}}
      </div>
    </div>
  </div>
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        request_quote
      </span>
    </div>
    <div class="info">
      <div class="name">
        {{'CustomerVIP'| translate}}
      </div>
      <div class="desription">
        {{'CustomerOffer'| translate}}
      </div>
    </div>
  </div>
  <div class="item-policy">
    <div class="icon">
      <span class="material-icons">
        sync_problem
      </span>

    </div>
    <div class="info">
      <div class="name">
        {{'SwapProducts'| translate}}
      </div>
      <div class="desription">
        {{'SwapProductsAll'| translate}}
      </div>
    </div>
  </div>
</div>