<div class="main">
  <h3>{{'Your Cart'| translate}}</h3>
  <div class="title">
    <div class="pay-title">{{'ProductsPay'| translate}}</div>
    <div class="name">{{'Products'| translate}}</div>
    <div class="price">{{'Price'| translate}}</div>
    <div class="total">{{'Amount'| translate}}</div>
    <div class="numberTotal">
      {{'TotalPrice'| translate}}
    </div>
  </div>
  <ng-container *ngFor="let item of listCart">
    <div class="body">
      <div class="pay-title">
        <input type="checkbox" class="checkbox" [(ngModel)]="item.isChecked" (change)="handelChange(item.id)">
      </div>

      <div class="name">
        <div class="swap-img">
          <img [src]="item.image[0]" alt="">
          <img [src]="item.image[1]" alt="">
        </div>
        <h4>{{item.name}}</h4>
      </div>
      <div class="price">{{item.price | currency:' ':'symbol':'1.0-1'}} vnđ</div>
      <div class="total">
        <div>
          <span class="material-icons" (click)="minus(item.id)">
            remove_circle
          </span>
          <input type="text" [value]="item.qty" #text_input (input)="changeQty(text_input.value,item.id)">
          <span class="material-icons" (click)="plus(item.id)">
            add_circle
          </span>
        </div>
        <div class="swap-colors">
          <label class="custom-radio" *ngFor="let color of item.colors" [style.background]="color.color">
            <input type="checkbox" name="color" [checked]="color.isChosen" (change)="handleClickColor(color, item.id)"
              class="btn-color">
            <span class="radio-btn">
              <span class="material-icons">
                done
              </span>
            </span>
          </label>
        </div>
        <div class="swap-size">
          <label class="custom-radio-size" *ngFor="let size of item.size">
            <span class="name-size">{{size.size}}</span>
            <input type="checkbox" name="size" [checked]="size.isChosen" (change)="handleClickSize(size, item.id)">
            <span class="radio-btn-size">
              <span class="material-icons">
                done
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="numberTotal">
        {{item.price * item.qty | currency:' ':'symbol':'1.0-1'}} vnđ

      </div>
    </div>
  </ng-container>

</div>
<div class="sumprice">
  <app-like [totalPrice]="sumprice"></app-like>
  <p>{{'Amount'| translate}}: {{sumtotal}}</p>

  <button class="btn-pay" (click)="showDialog()">{{'Payment'|translate}}</button>
</div>
<p-dialog header="Thông tin hoá đơn" [modal]="true" [(visible)]="display" [draggable]="false" [resizable]="false">
  <ng-container *ngIf="listPay.length==0">
    Vui lòng chọn sản phẩm thanh toán
  </ng-container>

  <div *ngFor="let product of listPay">
    <h3>Thông tin chi tiết:</h3><br>
    <p>Tên sản phẩm: {{product.name}}</p>
    <p>Giá : {{product.price | currency:' ':'symbol':'1.0-1'}} vnđ</p>
    <p>Màu sắc : <span *ngFor="let item of product.colors">{{item.isChosen? item.color+', ':null}}</span></p>
    <p>Size : <span *ngFor="let item of product.size">{{item.isChosen? item.size+', ':null}}</span></p>
    <p>Số lượng : {{product.qty}}</p>
    <p>Tổng tiền : {{product.price * product.qty | currency:' ':'symbol':'1.0-1'}} vnđ</p>
  </div>
  <ng-container *ngIf="listPay.length!=0">
    <h5>Tổng hoá đơn : {{sumprice | currency:' ':'symbol':'1.0-1'}} vnđ</h5>
  </ng-container>
</p-dialog>