<div class="main">

  <div class="img">
    <div class="img-up">
      <img [src]="product.image?  product.image[currentImg] : null" alt="">
    </div>
    <div class="img-down">
      <img [src]="product.image?  product.image[0] : null" alt="" (click)="currentImg=0"
        [class]="currentImg == 0? 'active': null">
      <img [src]=" product.image? product.image[1] :null" alt="" (click)="currentImg=1"
        [class]="currentImg == 1? 'active': null">
    </div>
  </div>
  <div class="content">
    <div class="content-up">
      <div class="title">
        {{product.name}}
      </div>
      <div class="desription">
        Form áo Châu Âu. Định lượng : 220 gsm. 100% cotton. Sản phẩm được in lụa. Tag logo được gắn ở tay áo. Tem chống
        hàng giả
        của SWE được may trong sườn áo. Các bạn vui lòng tham khảo bảng size chart trước khi đặt hàng.
      </div>
      <div class="price">
        <del>399.999 vnđ</del>
        <p>{{product.price * product.qty | currency:' ':'symbol':'1.0-1'}} vnđ</p>
      </div>
    </div>
    <div class="content-down">
      <div class="head">
        <h3>COLOR</h3>
        <h3>SIZE</h3>
      </div>
      <div class="body-content-down">
        <div class="color">
          <label class="custom-radio" *ngFor="let item of product.colors" [style.background]="item.color">
            <input type="checkbox" name="color" (change)="ChooseColor(item.color)" class="btn-color">
            <span class="radio-btn">
              <span class="material-icons">
                done
              </span>
            </span>
          </label>

        </div>
        <div class="size">
          <div class="color">
            <label class="custom-radio-size" *ngFor="let item of product.size">
              <span class="name-size">{{item.size}}</span>
              <input type="checkbox" name="size" (change)="handleClickSize(item.size)">
              <span class="radio-btn-size">
                <span class="material-icons">
                  done
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="quantity">
        <span class="material-icons" (click)="minus()">
          remove_circle
        </span>
        <input id="text_value" type="text" [(ngModel)]="product.qty" (input)="chaneQty()">
        <span class="material-icons" (click)="plus()">
          add_circle
        </span>
      </div>

      <button (click)="addToCart()">Thêm giỏ hàng</button>
      <button (click)="CheckPay()">Thanh toán</button>
    </div>
  </div>
  <p-dialog header="Thông tin hoá đơn" [modal]="true" [(visible)]="display" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">


    <div>
      <h3>Thông tin chi tiết:</h3><br>
      <p>Tên sản phẩm: {{product.name}}</p>
      <p>Giá : {{product.price | currency:' ':'symbol':'1.0-1'}} vnđ</p>
      <p>Màu sắc : <span *ngFor="let item of product.colors">{{item.isChosen? item.color+', ':null}}</span> </p>
      <p>Size : <span *ngFor="let item of product.size">{{item.isChosen? item.size+', ':null}}</span></p>
      <p>Số lượng : {{product.qty}}</p>
      <p>Tổng tiền : {{product.price * product.qty | currency:' ':'symbol':'1.0-1'}} vnđ</p>
    </div>
  </p-dialog>