<div class="main">
  <div class="item active">
    <div class="info">
      <div class="item-info-title">
        <span>
          Polo nữ tô dáng người con gái Việt
        </span>
      </div>
      <div class="item-desription">
        Polo nữ dáng suông tạo nên vẻ đẹo diệu dàng của người con gái việt
      </div>
    </div>
    <div class="img active">
      <div class="shape">
      </div>
      <img src="../../../assets/images/slide_1.05395af1.png" alt="">
      <div class="control">
        <span class="material-icons">
          arrow_back_ios
        </span>
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </div>
    </div>
  </div>

</div>